#agregarComponente{
    width: 50px;
}

.tarjeta{
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    text-align: left;
    background-color: #4643433b;
    margin-bottom: 20px;
    position: relative;
}

h2{
    text-align: center;
    font-size: auto;
}

.etiquetas {
    /* margin: 10px 0; */
    display: block;
}

input{
    margin-right: 5px;
}

.texto {
    text-align: left;
    display: block;
}

button{
    margin: 20px;
}

.close{
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}

.close:hover{
    background-color: #c0392b;
}

.minimizar{
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 35px;
    margin: 0;
}

.minimizar:hover{
    background-color: aqua;
}

footer{
    align-items: center;
    text-align: center;
}