main {
    min-height: 100vh;
    background: url(backg.png);
    background-size: cover;
    background-position: center;
}

#agregarComponente {
    width: 50px;
}
/* #contenedor, #componenteInicial */
.tarjeta {
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    text-align: center;
    background-color: #46434345;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    height: auto;
}

#results {
    font-size: 30px;
    background-color: #46434345;
}

#segundobloque {
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: auto;
}

/* .etiquetas {
    margin: 10px 0;
    flex-direction: row;
} */

.actualizar {
    width: auto;
    font-size: 30px;
}

input {
    margin-right: 5px;
}

#segundodescuento {
    margin-right: 5px;
}

#changeDiscount {
    width: auto;
    font-size: 30px;
}

.texto {
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textos {
    text-align: center;
    display: flex;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#subtotal {
    font-size: 50px;
    margin-top: 10px;
}

button {
    margin: 20px;
}

.close {
    background-color: #46434345;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}

/* .close:hover {
    background-color: #c0392b;
} */

#minimizar {
    background-color: #46434345;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 42px;
    margin: 0;
}

/* #minimizar:hover {
    background-color: 4643438a;
} */

#secondSection {
    padding-bottom: 10px;
}

footer {
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
    color: black;
    margin-top: 0;
    padding-top: 0;
}

footer p {
    margin-bottom: 5px;
}

footer h3 {
    margin-bottom: 5px;
}